.backg {
    padding-top: 100px;
    background-image: url(../img/contact.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 800px;
    margin-top: 80px;
    position: relative;

}

.backg-content {
    color: white;
    background-color: #223144;
    height: 100px;
    width: 200px;
    border-style: outset;
    border-color: #4e4545;
    position: absolute;
    top: 22px;
    left: 406px;
    text-align: center;
    font-family: 'Lobster', cursive;
}

.backg-content h1{
    font-size: 40px;
}

.home-contentc {
    height: 1050px;
    width: 100%;
    background-color: #223144;
    position: relative;
    margin-bottom: 60px;
    padding-top: 10px;
}

.contact-col{
    height: 800px;
    width: 48%;
    border-style: outset;
    float: left;
    margin-left: 15px;
    margin-bottom: 20px;
    
}

.contact-container {
    height: 800px;
    width: 100%;
    margin-top: 150px;
    color: white;
    
}

iframe{
    width: 100%;
    height: 800px;
}

.footer{
    margin-top: 30px;
}



.box {
    float: left;
    height: 500px;
    width: 42%;
    border-style: outset;
    margin: 0 auto;
    padding: 50px;
}

.content-img{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}

.content-text {
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}