*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.nav-bar{
    width: 100%;
 
    background-color: rgb(21, 37, 53);
    position: fixed;
    /* text-align: center; */
    top: 0;
    z-index: 1;

}


.logo{ 
    height: 80px;
    width: 80px;
    display: inline;
    /* margin-top: 10px; */
    margin-left: 15px;
    position: relative;
    /* right: 200px; */
}

.nav-links{
    background-color: rgb(21, 37, 53);
    float: right;
    margin-top: 10px;
}

.nav-list {
    /* float: right; */
    
}
/* .logo-text{
    display: inline-block;
    color: black;
    background-color: blue;
    height: 80px;
    float: left;





.logo-text h1{
    color: white;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
}

.logo-text h1 span{
    font-weight: 800;
} */

.list-item {
    height: 20px;
    float: left;
    margin: 20px;
    list-style-type: none;
    border: 3px solid white;
    border-style: double;
    border-color: white;
    border-radius: 25px;
    font-family: 'Lobster', cursive;
}

.list-item a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.list-item a:hover {
    color: purple;
    size: 4em;
}

.backg {
    padding-top: 100px;
    background-image: url(../img/home.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 800px;
    margin-top: 100px;
    position: relative;

}

.backg-content {
    color: black;
    background-color: rgb(41, 157, 211);
    height: 100px;
    width: 200px;
    border-style: outset;
    border-color: #4e4545;
    position: absolute;
    top: 22px;
    left: 406px;
    text-align: center;
    font-family: 'Lobster', cursive;
}

.home-content {
    height: 650px;
    width: 100%;
    background-color: rgb(21, 37, 53);
    position: relative;
    margin-bottom: 180px;
}

.box {
    float: left;
    height: 500px;
    width: 42%;
    border-style: outset;
    margin: 0 auto;
    padding: 50px;
}

.content-img{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 25px;
}

.content-text {
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    margin-top: 25px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 140px;
    display: block;
    background-color: black;
}

.upper-footer{
    width: 100%;
    height: 40px;
}

.lower-footer{
    width: 100%;
    height: 100px;
    background-color: black;
    float: left;
    text-align: center;
    margin-top: 10px;
    display: inline;
}

.contact_title{
    height: 100%;
    width: 30%;
    float: left;
    position: relative;
    left: 5px;
}

.contact_title h1{
    color: white;
    height: 100%;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 200;
}

.contact_title h1 span{
    font-weight: 800;
}

.contact_info{
    height: 100%;
    width: 68%;
    float: left;

}

.contact_info p{
    color: white;
    height: 100%;

    margin-top: 5px;
 
}

.contact_info:last-child{
    padding-right: 10px;
}
.contact_info a li {
    /* display: table-cell; */
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat'; 
    font-size:  20px;
    color: aqua;
    text-align: right;
    position: relative;
    right: 5%;
}

.phone{
    height: 100%;
    width: 40%;
    
}

.email{
    height: 100%;
    width: 50%;
    float: right;
    
}

.email li{
    font-size: 5px;
}
.footer-col {
    width: 30%;
    float: left;
    text-align: center;
    color: white;
}

.footer-col p {
    float: right;
    position: relative;
    margin-top: 10px;
    font-size: 20px;
}

.submit, .social {
    display: block;
    margin-top: 15px;
}

/* .fab {
    font-size: 3em;
    margin-left: 15px;
}

.fa-facebook {
    color: #3b5998;
    margin-left: 113px;
}

.fa-instigram {
    color: #fb3958;
}

.fa-linkedin-in{
    color: #0077B5;
} */



